/* :root {
  --bg: #cac4bf;
  --accent: #e32e36;
  --text: rgba(0, 0, 0, 0.79);
  --screen: var(--text);
  --key: var(--text);
  --keycap: var(--bg);
  --shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.46);
} */

:root {
--bg: #4f5458;
--red: #e32e36;
--green: #96d736;
--blue: #38bbfb;
--orange: #ff9323;
--orangetrans: #96d73654;
--text: white;
--accent: rgba(238, 238, 238, 0.5);
--screen: #1b2014;
--key: var(--text);
--keycap: var(--screen);
--shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.46);
}

@keyframes glow {
  0%   { box-shadow: 0px 0px 0px 2px var(--blue);; }
  50% { box-shadow: 0px 0px 0px 5px var(--blue);; }
  100% { box-shadow: 0px 0px 0px 2px var(--blue);; }
}


::selection {
  background: var(--orangetrans); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--orangetrans); /* Gecko Browsers */
}

/* @font-face {
  font-family: Arc;
  src: url("https://cdn.glitch.global/d0348cf0-2764-43de-96b5-8d953d48957d/Ark-Pixel-10px-latin-Regular.otf?v=1644413004545")
    format("opentype");
} */

@font-face {
  font-family: Enter Command;
  src: url("https://cdn.glitch.global/4b936203-2c16-485a-8e8d-1317837db8a6/EnterCommand.ttf?v=1646746486285")
    format("truetype");
}

* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  margin: auto;
  background-color: var(--bg);
  color: var(--text);
  padding: 1rem;
}

.selectcontainer hr {
  margin: 1px;
}

#info {
display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--text);
    text-align: center;
    border-radius: 50%;
    font-family: Georgia;
    font-style: italic;
    font-size: .75rem;
}

#logo {
  width: 200px;
    transform: translate(1px, 11px);
}

.selectcontainer {
  padding-bottom: 10px;
}

.simple-keyboard {
  max-width: 100%;
}

textarea,
select,
input,
button,
div,
summary {
  outline: none;
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 780px;
  margin: auto;
}

.typemodule {
  height: 100%;
  padding-bottom: 30px;
}

h1 {
  font-family: eurostile-extended, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.7rem;
  margin: 0;
  letter-spacing: -0.1rem;
}

h2 {
  font-size: .8rem;
  font-weight: normal;
  margin: 0;
  float: right;
  padding-top: 13px;
  cursor: pointer;
}

h1,
h2 {
  display: inline-block;
}

select {
  font-size: 1rem;
  border: none;
  color: var(--text);
  background-color: #5d6266;
  border-radius: 0px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: var(--shadow);
  width: 100%;
  appearance: none;
  line-height: normal;
  position: relative;
  background-image: url(https://cdn.glitch.global/4b936203-2c16-485a-8e8d-1317837db8a6/dropdown-01.svg?v=1646703931133);
  background-position: right 10px top 50%;
  background-size: 8px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
}

.glow {
  animation: glow 1.5s infinite;
}

hr {
  border: none;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 1s linear infinite;
}

.keypad {
font-family: Enter Command;
    font-size: 1.5rem;
    background-color: var(--screen);
    color: var(--green);
    width: 450px;
    height: 300px;
    line-height: 1;
  letter-spacing: .025rem;
    border-radius: 20px;
    padding: 15px;
    margin: 0;
  overflow: auto;
    box-shadow: inset 0px -1px 0px 1px rgb(255 255 255 / 15%), 0px 2px 0px 0px rgba(0, 0, 0, 0.46);
}

/* [contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
} */

[contentEditable=true]:empty:before{
    content:attr(data-text)
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--green);
  opacity: 1; /* Firefox */
}

/* keyboard */
.hg-theme-default {
  background: transparent !important;
  padding: 0 !important;
  overflow: inherit !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

.hg-theme-default .hg-button {
/*   background-color: var(--key) !important; */
  color: var(--keycap);
  border-bottom: none;
  box-shadow: var(--shadow);
}

.hg-functionBtn {
  background-color: var(--accent)!important;
}

.hg-button-space {
  width: 50%;
}

  .hg-button:active {
    transform: translateY(2px)!important;
    box-shadow: none !important;
  }

@media screen and (max-width: 600px) {
  html {
    padding: 0rem;
  }

  .hg-button {
    height: 50px !important;
  }

  .hg-theme-default {
    padding: 10px !important;
  }

  .hg-theme-default .hg-row .hg-button:not(:last-child) {
    margin-right: 3px;
  }

  .simple-keyboard {
    position: fixed;
    bottom: 0;
    left: 0;
  }

  h1 {
    font-size: 20px;
  }
  
  h2 {
    font-size: .7rem;
    padding-top: 9px;
  }

  .selectcontainer {
    padding: 0;
  }
  
  #logo {
    width: 145px;
  }

  .typemodule {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .keypad {
    width: 100%;
    height: 33vh;
  }
}
